{% macro footer() %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_footer.css') }}">
<footer>
    <div class="container">
        <p>&copy; 2025 Worklink - Todos los derechos reservados.</p>
    </div>
</footer>
{% endmacro %}
