{% macro navbar(titulo, pagina, current_user) %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_navbar.css') }}">
<!-- NAVBAR -->
<header class="navbar">
    <div class="logo"><h1>WorkLink</h1></div>
    <nav class="nav-links">
        <!--a href="#informacion">Inicio</a>
        <a href="#servicios">Servicios</a>
        <a href="#vacantes">Vacantes</a>
        <a href="#empresas">Empresas</a>
        <a href="#testimonios">Testimonios</a>
        <a href="#contacto">Contacto</a-->
        <a href="#">Planes</a>
        <a href="#">Empleos</a>
        <a href="{{ url_for('MensajesRoute.mensajes') }}">Mensajes</a>
        <a href="{{ url_for('NotificacionesRoute.notificaciones') }}">Notificaciones</a>
        <a href="{{ url_for('PerfilRoute.editar') }}">Perfil</a>
        <a href="{{ url_for('LoginRoute.logout') }}" class="btn-login">Salir</a>

    </nav>
</header>
{% endmacro %}
