Flask
Flask-SQLAlchemy
Flask-Migrate
python-dotenv 
pymysql 
flask-login
cryptography
requests
<<<<<<<<< Temporary merge branch 1
flask-mail 
itsdangerous
=========
bleach
email-validator
>>>>>>>>> Temporary merge branch 2
