<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de Registro</title>

    <!-- Fuentes y estilos externos -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!-- Tu archivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_registro.css') }}" />
</head>

<body>

    <!-- Formulario de Registro empresa (oculto por defecto) -->
    <div class="container-form register hide" id="registroEmpresa">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenido</h2>
                <p>Para unirte a nuestra comunidad, por favor regístrate como empresa</p>
                <a href="{{ url_for('LoginRoute.login_form') }}" class="btn-sign">
                    Iniciar Sesión
                </a>
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Crear una Cuenta de Empresa</h2>

                <!-- Mostrar mensajes flash -->
                <div class="mensajes" id="mensajeArea">
                    {% with mensajes = get_flashed_messages(with_categories=true) %}
                    {% if mensajes %}
                    {% for categoria, mensaje in mensajes %}
                    <p style="color: {% if categoria == 'error' %}red{% else %}green{% endif %};">
                        {{ mensaje }}
                    </p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

                <!-- Formulario de registro empresa con el mismo estilo que el formulario de usuario -->
                <form method="POST" action="{{ url_for('RegistroEmpresaRoute.registro_empresa') }}"
                    class="form form-register">
                    <div>
                        <label>
                            <i class='bx bx-building-house'></i>
                            <input type="text" placeholder="Nombre de la empresa" name="nombre_empresa"
                                pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ ,.-]{2,60}"
                                title="El nombre solo puede contener letras y espacios (2-60 caracteres)" required />
                        </label>
                    </div>
                    <div>
                        <label>
                            <i class='bx bx-barcode'></i>
                            <input type="text" placeholder="RFC" name="rfc" pattern="^[A-ZÑ&]{3,4}[0-9]{6}[A-Z0-9]{3}$"
                                maxlength="13" minlength="12" title="Ingresa un RFC válido (Personas Físicas o Morales)"
                                required />
                        </label>

                    </div>
                    <div>
                        <label>
                            <i class='bx bx-briefcase'></i>
                            <input type="text" placeholder="Sector" name="sector" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ ]{2,50}"
                                title="El sector solo debe contener letras y espacios (2-50 caracteres)" required />
                        </label>
                    </div>
                    <div>
                        <label>
                            <i class='bx bx-info-circle'></i>
                            <input type="text" placeholder="Descripción" name="descripcion"
                                pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ ,.]{2,100}"
                                title="La descripción solo debe contener letras y espacios (2-100 caracteres)"
                                required />
                        </label>
                    </div>
                    <div>
                        <label>
                            <i class='bx bx-location-plus'></i>
                            <input type="text" placeholder="Dirección" name="direccion"
                                pattern="[A-Za-z0-9ÁÉÍÓÚáéíóúÑñ ,.\\-#]{5,80}"
                                title="La dirección debe contener letras y números (5-80 caracteres)" required />
                        </label>
                    </div>
                    <div>
                        <label>
                            <i class='bx bx-phone'></i>
                            <input type="text" placeholder="Teléfono" name="telefono" pattern="[0-9]{10}" maxlength="10"
                                title="El teléfono debe tener 10 dígitos, solo números" required />
                        </label>
                    </div>
                    <div>
                        <label>
                            <i class='bx bx-envelope'></i>
                            <input type="email" placeholder="Correo Electrónico" name="email"
                                pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9-]+\.(com|org|net|edu|gov|io|co|info)$"
                                title="Ingresa un correo electrónico válido (ej. usuario@dominio.com)" required />
                        </label>
                    </div>
                    <div>
                        <label>
                            <i class='bx bx-lock-alt'></i>
                            <input type="password" placeholder="Contraseña" name="password" minlength="6"
                                title="La contraseña debe tener al menos 6 caracteres" required />
                        </label>
                    </div>
                    <div>
                        <label>
                            <i class='bx bx-lock-alt'></i>
                            <input type="password" placeholder="Confirmar Contraseña" name="confirmar" minlength="6"
                                title="Las contraseñas deben coincidir" required />
                        </label>
                    </div>
                    <div class="privacy-policy">
                        <div class="form-check">
                            <input type="checkbox" id="privacyCheckEmpresa" name="privacy_check"
                                class="form-check-input" required>
                            <label class="form-check-label" for="privacyCheckEmpresa">
                                He leído y acepto el <a href="{{ url_for('PrivacidadRoute.aviso_privacidad') }}"
                                    target="_blank" rel="noopener noreferrer">Aviso de Privacidad</a>
                            </label>
                        </div>
                    </div>
                    <input type="submit" value="Registrar empresa" class="mt-3" />
                </form>
            </div>
        </div>
    </div>


    <!-- Bootstrap JS y dependencias -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/registro_empresa.js') }}"></script>

</body>

</html>