{% import "components/navbar.jinja2" as components %}
{% import 'components/footer.jinja2' as footer %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Notificaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_notificaciones.css') }}">
</head>
<body>
{{ components.navbar(current_user) }}

<!-- Llamar al componente footer -->
{{ footer.footer() }}
<!-- Inicializar AOS -->
    <script>
        AOS.init();
    </script>
</body>
</html>
