{% import "components/navbar.jinja2" as components %}
{% import 'components/footer.jinja2' as footer %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Notificaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_notificaciones.css') }}">
</head>
<body>

    {{ components.navbar("notificaciones", "notificaciones", current_user) }}

{{ footer.footer() }}
</body>
</html>
