
{% import "components/navbar.jinja2" as components %}
{% import "components/footer.jinja2" as footer %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Empleos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_empleos.css') }}">
</head>
<body>

    {{ components.navbar("empleos", "empleos", current_user) }}
    <div class="search-filter-container">
    <div class="search-bar">
        <span class="icon">🔍</span>
        <input type="text" placeholder="Buscar empleo" />
    </div>
    <div class="filter-dropdown">
        <select>
            <option value="">Tipo de empleo</option>
            <option value="tiempo-completo">Tiempo completo</option>
            <option value="medio-tiempo">Medio tiempo</option>
            <option value="temporal">Temporal</option>
            <option value="prácticas">Prácticas</option>
            <option value="remoto">Remoto</option>
        </select>
    </div>
</div>
    {{ footer.footer() }}
</body>
</html>
