<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
</head>
<body>
    <h1>Bienvenido, {{ usuario }} 👋</h1>
    <p>Has iniciado sesión correctamente.</p>
    <a href="{{ url_for('IndexRoute.logout') }}">Cerrar sesión</a>
</body>
</html>
