{% import "components/navbar.jinja2" as components %}
{% import 'components/footer.jinja2' as footer %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inicio - Worklink</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_inicio.css') }}">
</head>

<body>
    <section class="inicio-p">
        {{ components.navbar("inicio", "inicio", current_user) }}

        <div class="main-content">
            <div class="column left-column">
                <div class="box">
                    <div class="circle"></div>
                </div>
                <div class="box" style="height: 150px;"></div>
            </div>

            <div class="column center-column">
                <div class="box" style="font-weight: bold;">
                    Reduce tiempo y esfuerzo en la <br> búsqueda de trabajo y contratación
                </div>
                <div class="box" style="height: 100px;"></div>
                <div class="box" style="height: 100px;"></div>
                <div class="box" style="height: 100px;"></div>
            </div>

            <div class="column right-column">
                <div class="box" style="height: 400px;"></div>
            </div>
        </div>
        {{ footer.footer() }}
    </section>
</body>

</html>